.searchBar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(173, 173, 173);
    font-size: calc(10px + 2vmin);
    padding: 10px;
}

.submit-button {
    border-radius: 5px;
    border: 2px solid rgb(109, 109, 253);
    font-size: calc(10px + 1vmin);
}